.container-1, .container-2, .container-3, .container-4, .container-5{
    border: 1px solid grey;
    margin: 0 auto;
    width: 75%;
}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color,
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row{
    background-image: url(/assets/images/blackjack-background.jpg);
    background-position: center;
    color: #ffffff;
    position: relative;
}

#your-box{
    border-right: 0.75px solid white;
}
#dealer-box{
    border-left: 0.75px solid white ;
}

.flex-blackjack-row-1> * {
    z-index: 1;
}
.flex-blackjack-row-2> * {
    z-index: 1;
}
.flex-blackjack-row::after{
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
}
 

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid grey;
}
.flex-box-container-2 img{
    margin: 10px;
    height: 289px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

.flex-blackjack-row-1 div{
    height: 350px;
    padding: 10px;
    flex: 1;
    text-align: center;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 div{
     padding: 10px;
}

.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}

table, td, th{
    border: 1px solid black;
}